input,
select,
textarea {
  font-family: "Poppins", sans-serif;
  border: 1px solid #7c62a9;
  border-radius: 5px;
  padding: 0.7em 1.3em;
  transition: 0.3s ease-in-out;
  outline: none;
}

input[type="text"]:focus {
  /* border: 2px solid #7C62A9; */
  box-shadow: 0 0 8px 0 #b1a3e1;
  outline: none;
}

.icon-input {
  position: relative;

  input,
  textarea {
    display: block;
    padding-left: 3em;
  }

  .icon {
    position: absolute;
    top: 0.8em;
    left: 0.8em;
    color: #b1a3e1;
  }
}

input[type="text"]:focus + .icon {
  color: #7c62a9;
}
